<div class="header" role="navigation" ng-controller="cms.views.layout.header as vm">
    <div class="navbar-header logo">
        <i class="fa fa-cubes"></i>
    </div>
    <div class="navbar-header cmsname">
        后台管理系统
    </div>
        <div class="collapse navbar-collapse func-nav">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a><i class="fa fa-bell"></i></a>
                </li>
                <li>
                    <a href="@Url.Action("Logout", "Account")"><i class="fa fa-sign-out"></i> <span>安全退出</span> </a>
                </li>
            </ul>
        </div>
</div>