<div ng-controller="cms.views.layout.navbar as vm">
    <!-- Control Sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img alt="User Image" class="img-circle" src="~/Cms/Main/images/user1-128x128.jpg" />
                </div>
                <div class="pull-left info">
                    <p>&nbsp;&nbsp;&nbsp;阿凯</p>
                    <a href="#"><i class="fa fa-male text-primary"></i> 管理员</a>
                    @*<a href="#"><i class="fa fa-female text-danger"></i> 销售</a>*@
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">菜单</li>
                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>面板</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> 面板 v1</a></li>
                        <li class="active"><a href="#"><i class="fa fa-circle-o"></i> 面板 v2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-th"></i> <span>窗口小部件</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-green">new</small>
                        </span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i>
                        <span>图表</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Morris</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Flot</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Inline charts</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- /.control-sidebar -->
</div>